<center>
    
<style>
.btn-flat-bottom-border {
  position: relative;
  display: flex;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  height: 80px;
  background: #a180dc;
  transition: .4s;
}

.btn-flat-bottom-border > span {
  border-bottom: solid 2px #FFF;
}

.btn-flat-bottom-border:hover {
  background: #91b5fb;
}


.row-bottom{
   height: 40px; 
    position: fixed; 
    bottom:0%;
    width:100%;
}



</style>
    
    
  
<div class="qcard">
<h1><%= @question.kanji%></h1>
<h4><%= @question.meaning %></h4>
</div> 
<div class="answers">
  <div class="row mt-5" style="width: 80%">
    <% if @progress.answer == 'again' %>　<%#= その日に間違えた問題 %>
      <div class="col-sm">
        <%= button_to "できた", {controller: 'quiz', action: "post_answer", id: @progress.id, answer: 'good_after_again'}, { class: "btn-square-shadow"} %> 
      </div>
      <div class="col-sm">
        <%= button_to "忘れてた",{controller: 'quiz', action: "post_answer", id: @progress.id, answer: 'again'}, { class: "btn-square-shadow"} %> 
      </div>
        
    <% elsif @progress.category == 'not_seen' %><%#= 新規学習 %>
       <div class="col-sm">
      <%= button_to "できた", {controller: 'quiz', action: "post_answer", id: @progress.id, answer: 'good'}, { class: "btn-square-shadow"} %> 
      </div>
        <div class="col-sm">
      <%= button_to "簡単", {controller: 'quiz', action: "post_answer", id: @progress.id, answer: 'easy'}, { class: "btn-square-shadow"} %> <%#=二度と出題されなくなる =%>
      </div>
        <div class="col-sm">
      <%= button_to "忘れてた", {controller: 'quiz', action: "post_answer", id: @progress.id, answer: 'again'}, { class: "btn-square-shadow"} %> 
      </div>
    <% else %><%#= 復習問題 %>
      <div class="col-sm">
        <%= button_to 'できた',{controller: 'quiz', action: "post_answer", id: @progress.id, answer: 'good'}, { class: "btn-square-shadow"} %>
      </div>
      <div class="col-sm">
        <%= button_to "簡単", {controller: 'quiz', action: "post_answer", id: @progress.id, answer: 'easy'}, { class: "btn-square-shadow"} %>
      </div>
      <div class="col-sm">
        <%= button_to "難しい", {controller: 'quiz', action: "post_answer", id: @progress.id, answer: 'hard'}, { class: "btn-square-shadow"} %> 
      </div>
      <div class="col-sm">
        <%= button_to "忘れてた", {controller: 'quiz', action: "post_answer", id: @progress.id, answer: 'again'}, { class: "btn-square-shadow"} %> 
      </div>
    <% end %> 
  </div>
</div>


<!--
<footer>
  <div class="row row-bottom">
    <div class="col-sm">
      <a href="#" class="btn-flat-bottom-border">
          <span>BUTTON</span>
        </a>
    </div>
    <div class="col-sm">
      <a href="#" class="btn-flat-bottom-border">
          <span>BUTTON</span>
        </a>
    </div>
    <div class="col-sm">
      <a href="#" class="btn-flat-bottom-border">
          <span>BUTTON</span>
        </a>
    </div>
  </div>
<footer>
!-->
