<div class="row">
    <div class="col-sm-6">
      <div style="width: 100%">
          <div class="picard">
            <canvas id="myChart"></canvas>
          </div>

      </div>
  
      新規のこり: <%= @count_left_new %>
      復習のこり: <%= @count_left_review %>
      今日学習した漢字の数：　<%= @count_total_new +  @count_total_review - @count_left_new - @count_left_review %>
      <br>
      <div class="row">
          <div class="col-sm">
              <%= link_to "クイズ形式", quiz_question_path, class: 'btn btn-lg btn-outline-primary', style: 'width: 100%'  %>
          </div>
          <div class="col-sm">
              <%= link_to "テスト形式", test_question_path, class: 'btn btn-lg btn-outline-primary',  style: 'width: 100%'  %>
          </div>
        </div>
    </div>
    
    <div class="col-sm-6">
    
    <div>
        各級の学習設定
    </div>
    <%= link_to "その他設定", setting_path, class: "btn btn-sm, btn-outline-primary" %>
    <br>
    
    </div>
</div>



<script>

    var request = new XMLHttpRequest();
 
    request.open('GET', '/api/progress', true);
    request.responseType = 'json';
 
    request.onload = function () {
      var data = this.response;
      console.log(data);
      
      var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'doughnut',
    
        // The data for our dataset
        data: {
            labels: ['未学習', '学習中', '完了'],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: ['#182a8f', '#7ae64c', '#009427'],
                //borderColor: 'rgb(255, 99, 132)',
                data: [data.not_seen, data.young, data.mature]
            }]
        },
    
        // Configuration options go here
        options: {}
    });
    };
     
    request.send();
    
    
</script>