
<script>
showchart()
</script>
        <div style="width: 80%;" class="mx-auto">
            <div class="picard">
              
            
              <%= pi_selector %>
              
              <canvas id="myChart"></canvas>
              
            </div>
  
        </div>
    
        <br>
     
        <div class='row'>
          
        <div class='col-4 counter'>
          <p class='counter-num'><%= @count_left_new %></p>
          <p class='counter-label'>新規のこり</p>
        </div>
        <div class='col-4 counter'>
          <p class='counter-num'><%= @count_left_review %></p>
          <p class='counter-label'>復習のこり</p>
        </div>
        <div class='col-4 counter'>
          <p class='counter-num'><%= @count_total_new +  @count_total_review - @count_left_new - @count_left_review %></p>
          <p class='counter-label'>今日学習した漢字の数</p>
        </div>
        
        </div>
      
      
        <div class="row my-3">
            <div class="col-sm">
                <%= link_to "クイズ形式", quiz_question_path, class: 'btn btn-lg btn-outline-primary', style: 'width: 100%' %>
            </div>
            <div class="col-sm">
                <%= link_to "テスト形式(工事中)", test_question_path, class: 'btn btn-lg btn-outline-primary disabled',  style: 'width: 100%', disabled: ''  %>
            </div>
        </div>
          </div>
</div>

