<h1>設定</h1>

count_total_new: <%= @count_total_new %>
count_total_review: <%= @count_total_review %>
current_user.setting.max_review_questions: <%= current_user.setting.max_review_questions %>
current_user.setting.max_new_questions: <%= current_user.setting.max_new_questions %>


<% if Rails.env.development? %>
開発用：
<%= button_to "Oneday", controller: 'datedev', action: "progress_oneday", class: 'btn' %>
<% end %>
